In [1]:
#Dependencies and Setup
%matplotlib inline

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress, pearsonr

In [31]:
#specifying path to CSV file
file_path = 'C:\\Users\\maria\\OneDrive\\hw\\Project1\\MIA-VIRT-DATA-PT-01-2024\\Project1group3\\Maternal_Health.csv'

#read the .csv files
maternal_health_df = pd.read_csv(file_path)

In [32]:
# Print DataFrame
maternal_health_df.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [33]:
# adding a new column "Woman_ID" with unique identifiers starting from 1
maternal_health_df['Woman_ID'] = range(1,len(maternal_health_df)+1)
                                   
#Reordering the DataFrame columns
columns = ['Woman_ID']+[col for col in maternal_health_df.columns if col !='Woman_ID']
maternal_health_df = maternal_health_df[columns]

# Print
maternal_health_df.head()

,Woman_ID,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,1,25,130,80,15.0,98.0,86,high risk
1,2,35,140,90,13.0,98.0,70,high risk
2,3,29,90,70,8.0,100.0,80,high risk
3,4,30,140,85,7.0,98.0,70,high risk
4,5,35,120,60,6.1,98.0,76,low risk

In [34]:
# Use .rename(columns={}) to rename columns
renamed_df = maternal_health_df.rename(columns={"Woman_ID":"Woman ID", 
                                                "BS":"Blood Sugar", 
                                                "SystolicBP":"Systolic Blood Pressure", 
                                                "DiastolicBP":"Diastolic Blood Pressure", 
                                                "BodyTemp":"Body Temp.", 
                                                "HeartRate":"Heart Rate",
                                                "RiskLevel":"Risk Level"})
renamed_df.head()

,Woman ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Blood Sugar,Body Temp.,Heart Rate,Risk Level
0,1,25,130,80,15.0,98.0,86,high risk
1,2,35,140,90,13.0,98.0,70,high risk
2,3,29,90,70,8.0,100.0,80,high risk
3,4,30,140,85,7.0,98.0,70,high risk
4,5,35,120,60,6.1,98.0,76,low risk