In [9]:
#Project 1 - Predictors of Pregnancy Risk

In [10]:
import pandas as pd
from pathlib import Path
import hvplot.pandas
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress, pearsonr

In [11]:
#Create a path to CSV fules, read the path and print DataFrame
file_path = (r"C:\Users\alexi\Desktop\Project1group3\maternal-health.csv")
maternal_health = pd.read_csv(file_path)
maternal_health.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [12]:
#Count each risk level
risk_count = maternal_health["RiskLevel"].value_counts()
risk_count

RiskLevel
low risk     406
mid risk     336
high risk    272
Name: count, dtype: int64

In [13]:
#Add a new column "Woman_ID" with unique identifiers starting from 1
maternal_health["Woman_ID"] = range(1, len(maternal_health) + 1)

columns = ["Woman_ID"] + [col for col in maternal_health.columns if col !="Woman_ID"]

maternal_health = maternal_health[columns]

maternal_health.head()

,Woman_ID,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,1,25,130,80,15.0,98.0,86,high risk
1,2,35,140,90,13.0,98.0,70,high risk
2,3,29,90,70,8.0,100.0,80,high risk
3,4,30,140,85,7.0,98.0,70,high risk
4,5,35,120,60,6.1,98.0,76,low risk

In [14]:
#Rename column names to make it easier to understand
maternal_renamed = maternal_health.rename(columns={"Woman_ID":"Woman ID", "BS":"Blood Sugar", "SystolicBP":"Systolic Blood Pressure", 
                                                   "DiastolicBP":"Diastolic Blood Pressure", "BodyTemp":"Body Temp.", 
                                                   "HeartRate":"Heart Rate", "RiskLevel":"Risk Level"})
maternal_renamed.head()

,Woman ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Blood Sugar,Body Temp.,Heart Rate,Risk Level
0,1,25,130,80,15.0,98.0,86,high risk
1,2,35,140,90,13.0,98.0,70,high risk
2,3,29,90,70,8.0,100.0,80,high risk
3,4,30,140,85,7.0,98.0,70,high risk
4,5,35,120,60,6.1,98.0,76,low risk

In [15]:
# Create a new column "Blood Pressure" by combining "Systolic Blood Pressure" and "Diastolic Blood Pressure"
maternal_renamed.loc[:, 'Blood Pressure'] = maternal_renamed['Systolic Blood Pressure'].astype(str) + '/' + maternal_renamed['Diastolic Blood Pressure'].astype(str)

# Print
maternal_renamed.head()

,Woman ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Blood Sugar,Body Temp.,Heart Rate,Risk Level,Blood Pressure
0,1,25,130,80,15.0,98.0,86,high risk,130/80
1,2,35,140,90,13.0,98.0,70,high risk,140/90
2,3,29,90,70,8.0,100.0,80,high risk,90/70
3,4,30,140,85,7.0,98.0,70,high risk,140/85
4,5,35,120,60,6.1,98.0,76,low risk,120/60

In [16]:
column_to_move = maternal_renamed.pop("Blood Pressure")
maternal_renamed.insert(4, "Blood Pressure", column_to_move)
maternal_renamed.head()

,Woman ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Blood Pressure,Blood Sugar,Body Temp.,Heart Rate,Risk Level
0,1,25,130,80,130/80,15.0,98.0,86,high risk
1,2,35,140,90,140/90,13.0,98.0,70,high risk
2,3,29,90,70,90/70,8.0,100.0,80,high risk
3,4,30,140,85,140/85,7.0,98.0,70,high risk
4,5,35,120,60,120/60,6.1,98.0,76,low risk

In [17]:
maternal_renamed.drop_duplicates(subset=None, keep='first', inplace=False)

,Woman ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Blood Pressure,Blood Sugar,Body Temp.,Heart Rate,Risk Level
0,1,25,130,80,130/80,15.0,98.0,86,high risk
1,2,35,140,90,140/90,13.0,98.0,70,high risk
2,3,29,90,70,90/70,8.0,100.0,80,high risk
3,4,30,140,85,140/85,7.0,98.0,70,high risk
4,5,35,120,60,120/60,6.1,98.0,76,low risk
...,...,...,...,...,...,...,...,...,...
1009,1010,22,120,60,120/60,15.0,98.0,80,high risk
1010,1011,55,120,90,120/90,18.0,98.0,60,high risk
1011,1012,35,85,60,85/60,19.0,98.0,86,high risk
1012,1013,43,120,90,120/90,18.0,98.0,70,high risk
1013,1014,32,120,65,120/65,6.0,101.0,76,mid risk